
<p style="color: green"><%= notice %></p>

<div class="properties-container" id="properties">
  <% @properties.each do |property| %>
    <%= render partial: 'properties/partials/property', locals: { property: property } %>
  <% end %>
</div>